@charset "utf-8"

@import "compass/utilities"
@import "bootstrap"

body
  padding-top: 25px

.nav
  .active a
    cursor: text

  .icon
    padding-right: 25px

footer
  margin-top: 10px

.row
  padding-bottom: 10px

textarea
  width: 100%
  min-height: 120px

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
