@charset "utf-8"

@import "compass/utilities"
@import "bootstrap"

body
  padding-top: 25px

h1,h2,h3,h4,h5,h6
  margin-top: 0
  margin-bottom: 0

.nav
  .active a
    cursor: text

  .icon
    padding-right: 25px

footer
  margin-top: 10px

.row
  padding-bottom: 10px

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.unread *
  background: #bcd6ec !important

.tr-link
  cursor: pointer

.bold
  font-weight: bold

// .unread:nth-child(odd) *
//   background: #dbe9f5 !important